* {
    box-sizing: border-box;
}

body {
    background-color: #FFBB56;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.main_wrapper {
    background-color: #FFF;
    color: #888;
    width: 650px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin-top: 2%;
    border-radius: 12px;
}
.part_content{
    font-size: 1.4rem;
    padding: 10px;
    color: #3688D8;
}
.part_content h3{
    margin-top: 2px;
}

.exe_content{
    font-size: 1.2rem;
    padding: 2%;
}
.exe_content li{
    margin-top: 4px;
}

.del-btn{
    margin: 2% 0;
}
