* {
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
.form-content {
    width: 650px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin-top: 4%;
    border: solid 6px #4FBD9F;
    border: solid 6px #4FBD9F;
    border-radius: 10px;
}
h3{
    text-align: center;
    font-size: 1.6rem;
    margin: 0;
}
.inner-wrapper{
    width: 100%;
    font-size: 1.6rem;
}
.inner-wrapper th{
    padding: 5px;
    text-align: right;
    vertical-align: top;
}
.inner-wrapper td{
    padding: 5px;
    vertical-align: middle;
}
input[type="text"],input[type="number"]{
    vertical-align: middle;
    width: 75%;
    padding: 4px;
    font-size: 1.2rem;
    margin-left: 20px;
}
.memo_td{
    padding-top: 4px;
}
textarea{
    vertical-align: middle;
    resize: none;
    width:245px;
    height:200px;
    font-size: 1.2rem;
    margin-left: 20px;
}


/* 
ボタン
*/
.inner-button{
    text-align: center;
}
.form-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 1rem;
}
.next-btn {
    background-color: #1BB187;
    color: #FFF;
}
.form-btn:hover{
    opacity: 0.9;
}